/*
 * memos.css: 
 *    Styles for 'Memos' go in this file 
 */

.lyrics {
    margin-left:3em;
    font-style:italic;
}

.attribution  {
    font-size:smaller;
}

.row{
	margin-top:10px;
	margin-bottom:10px;
}

#button {
    width:75px;
	height:37px;
	font-size:17px;
    border:1px solid black;
}

#datepicker{
	width:180px;
}